flows_aula.json
[
    {
        "id": "0822c5c2c7aeda7b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c271f564a6382c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7550641673e2d20a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7291917960f8fae",
        "type": "telegram bot",
        "botname": "Larah_correa_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "6c3746c9f4ed5eb7",
        "type": "telegram receiver",
        "z": "0822c5c2c7aeda7b",
        "name": "",
        "bot": "c7291917960f8fae",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 250,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e5f4115e389e0f40",
        "type": "telegram sender",
        "z": "0822c5c2c7aeda7b",
        "name": "",
        "bot": "c7291917960f8fae",
        "haserroroutput": false,
        "outputs": 1,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "64f698eda1e2fb64"
            ]
        ]
    },
    {
        "id": "64f698eda1e2fb64",
        "type": "debug",
        "z": "1c271f564a6382c9",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2cf2d2b6a9333dd",
        "type": "watson-speech-to-text",
        "z": "1c271f564a6382c9",
        "name": "Watson STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "4du2iRfvIKb3oMGRUCIvUHSPzEb2IeI0r5VxbdqGBGSo",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/5e356588-d3e0-4511-ba50-b20768dff36a",
        "x": 610,
        "y": 480,
        "wires": [
            [
                "d20f180105d72b97"
            ]
        ]
    },
    {
        "id": "944dcc3ed9c16d92",
        "type": "function",
        "z": "1c271f564a6382c9",
        "name": "",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "f2cf2d2b6a9333dd"
            ]
        ]
    },
    {
        "id": "f988a52c81fc8663",
        "type": "telegram receiver",
        "z": "1c271f564a6382c9",
        "name": "",
        "bot": "c7291917960f8fae",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "f4cffdbab0ab30a1",
                "944dcc3ed9c16d92"
            ],
            []
        ]
    },
    {
        "id": "f4cffdbab0ab30a1",
        "type": "debug",
        "z": "1c271f564a6382c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "d20f180105d72b97",
        "type": "debug",
        "z": "1c271f564a6382c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "3dd29bdaf246714d",
        "type": "telegram receiver",
        "z": "7550641673e2d20a",
        "name": "",
        "bot": "c7291917960f8fae",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "db72b5c55f2da6b0",
                "23e105a96a0fc519"
            ],
            []
        ]
    },
    {
        "id": "db72b5c55f2da6b0",
        "type": "debug",
        "z": "7550641673e2d20a",
        "name": "Entrada no Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "91e3db37f6e05ada",
        "type": "telegram sender",
        "z": "7550641673e2d20a",
        "name": "",
        "bot": "c7291917960f8fae",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "14b288cc0d953cc6"
            ]
        ]
    },
    {
        "id": "fd2f5c04355cd202",
        "type": "watson-assistant-v2",
        "z": "7550641673e2d20a",
        "name": "Jimmy",
        "service-endpoint": "",
        "assistant_id": "442977d3-b6ab-41c1-b3ff-fec91fd947bb",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "63f0d020ef3ea464",
                "ced3c6becbd69dee"
            ]
        ]
    },
    {
        "id": "ced3c6becbd69dee",
        "type": "debug",
        "z": "7550641673e2d20a",
        "name": "Resposta para o Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "c97002d54d0d35f8",
        "type": "function",
        "z": "7550641673e2d20a",
        "name": "proc entrada",
        "func": "msg.params ={\n    \"session_id\" : msg.payload.session_id !== 'undefied'? msg.payload.session_id:\"\"\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1b8dbbd501ee0f61",
        "type": "function",
        "z": "7550641673e2d20a",
        "name": "",
        "func": "msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "23e105a96a0fc519",
        "type": "change",
        "z": "7550641673e2d20a",
        "name": "Prepara entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payloas.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "fd2f5c04355cd202"
            ]
        ]
    },
    {
        "id": "63f0d020ef3ea464",
        "type": "change",
        "z": "7550641673e2d20a",
        "name": "Prepara retorno",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "91e3db37f6e05ada"
            ]
        ]
    },
    {
        "id": "23f3d530e697a0c5",
        "type": "function",
        "z": "7550641673e2d20a",
        "name": "Acesso não autorizado",
        "func": "msg.payload.content = \"Você não é um usuário autorizado\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "14b288cc0d953cc6",
        "type": "debug",
        "z": "7550641673e2d20a",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 200,
        "wires": []
    }
]